
/Distributed.Fedresurs/obj
/Distributed.Fedresurs/bin
/Application.Fedresurs/obj
/.idea
/Application.Common/bin
/Application.Common/obj
/Application.Fedresurs/bin
/InfrastructureLayer/obj
/InfrastructureLayer/bin
/Startup/obj
/Startup/bin
Startup/appsettings.json
Startup/appsettings.Development.json
